@model Teams.Entities.Team

@{
    ViewData["Title"] = "Add Team";
}

<form asp-controller="Team" asp-action="AddNewTeam" method="post" enctype="application/x-www-form-urlencoded">
    @Html.Partial("_TeamForm", Model)

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-controller="Team" asp-action="GetAllTeams" class="btn btn-primary">Cancel</a>
</form>