@model Teams.Entities.Team

@{
    ViewData["Title"] = "Edit Team";
}

<form asp-controller="Team" asp-action="ProcessEditRequest" method="post" enctype="application/x-www-form-urlencoded">
    @Html.Partial("_TeamForm", Model)

    <input type="hidden" asp-for="TeamId" />

    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-controller="Team" asp-action="GetAllTeams" class="btn btn-primary">Cancel</a>
</form>